<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
    {{>styles}}
  </head>

  <body class="static help">
    <header>{{>header}}</header>
    <main id="container">
      <div class="content">
        <div class="storycontent">
          <p>
            <ol>
              <li> La révolte est un réflexe de l’homme vivant, qu’il n’est pas nécessaire de légitimer pa des raisons plus ou moins intelligentes.</li>
              <li>La révolte contre le monde actuel signifie le refus de participer volontairement à l’activité de ce monde qui est au pouvoir de voyous et d’imbéciles. Elle signifie également la volonté d’agir contre ce monde et la recherche des moyens de le faire changer.</li>
            </ol>
          </p>
          <div style="text-align : right; font-size : 0.8em">René Magritte</div>
          <p>The most radical revolutionary will become a conservative the day after the revolution.</p>
          <div style="text-align : right; font-size : 0.8em">Hannah Arendt, 1970</div>
        </div>
      </div>
    </main>
  </body>
  {{>scripts}}

</html>
