<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
    {{>styles}}
  </head>

  <body class="top index">
    <header>{{>header}}</header>
    <main id="container">
      <section id="simulation">
        <svg>
          <g class="edges"></g>
          <g class="nodes"></g>
        </svg>
      </section>
    </main>
  </body>
  {{>scripts}}
</html>
