<!doctype html>
<html>
  <head>
    {{>head}}
    {{>styles}}
  </head>
  <body class="{{record.category.nicename}}">
    <div>
      <header>{{>header}}</header>
      <main>{{>main}}</main>
      <footer>{{>footer}}</footer>
    </div>
  </body>
  {{>scripts}}
</html>
