<!doctype html>
<html>
  <head>
    {{>head}}
    {{>styles}}
  </head>
  <body class="{{record.category.nicename}}">
    <header>{{>header}}</header>
    <main id="container">{{>main}}</main>
  </body>
  {{>scripts}}
</html>
