<!-- partials/main-video -->
@TODO Video (category 4)

<div class="content">
  <div class="post post{{record.category.nicename}}" id="post-{{record.id}}">
    <div class="storycontent">
      <video>
        <source />
        <poster />
      </video>
    </div>
  </div>
</div>

{{>sidebar}}
