<!-- partials/main-artwork-images -->
@TODO Artwork images (category 9)

@TODO Slideshow

<div class="content">
  <div class="post post{{record.category.nicename}}" id="post-{{record.id}}">
    <div class="storycontent">
      <video>
        <source />
        <poster />
      </video>
    </div>
  </div>
</div>

{{>sidebar}}
