<!-- partials/topbar -->
<div id="topbar">
  <div id="menuleft">
    <div style='float : left; padding-top : 2px; padding-left : 10px;'>
      <a title='Return to the BOS Online Venue front page' href='/'><img id='onlinevenue' src='/assets/images/blank.gif' width=162 height=20 /></a>
      <a title='Show menu navigation' style='border-bottom : none;' href='#'><img id='menuleftcontrol' class='topbar_off' src='/assets/images/blank.gif' width=38 height=20 /></a>
    </div>

    <div id="menuleftcontainer">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="page_item page-item-2"><a href="/about" title="About">About</a></li>
        <li class="page_item page-item-3"><a href="/contact" title="Contact">Contact</a></li>
        <li class="page_item page-item-4"><a href="/contribute" title="Contribute">Contribute</a></li>
        <li class="page_item page-item-5"><a href="/help" title="Help">Help</a></li>
        <li>|</li>
        <li><a style='font-style : italic;' href='http://www.bos2008.com/'>bos2008.com</a></li>
      </ul>
    </div>
  </div>
</div>
