<!-- partials/topbar-video -->
<div id="topbar_centre">
  <a class="related" title="Related to \"{{record.title}}\"" href="/#{{record.id}}">
    <img id="related" src="/assets/images/related.gif">
  </a>
</div>
