<!-- partials/topbar-video -->
<div id="topbar_centre" style="left : auto; right : 0px; width : 100px;">
  <a title="Related to {{record.title}}" href="/?id={{record.id}}"><img border=0 align="left" id="prev-holder" alt="Return to the Online Venue" src="/assets/images/prev.gif" width=21 height=21><img id="related" align="left" border=0 src="/assets/images/related.gif"></a>
</div>
