body {
  /*font-family: "Source Code Pro", Consolas, monaco, monospace;*/
  font-family: Arial, Helvetica, sans-serif;
  line-height: 160%;
  font-size: 12px;
  color: #666;
  margin: 0;
  background-image: url(/assets/images/background_004.png);
  background-size: cover;
}

svg {
  width: 100%;
  height: 100vh;
  position: relative;
}

svg circle {
  fill: #f00;
}

svg .node {
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
}

svg .edges line {
  stroke: #ccd;
}

svg .node .label,
svg .node .label-container {
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

svg .node .label-container {
  fill: #ffffb9;
  stroke: #ccc;
}

svg .node image {
  transition: all .25s ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  width: 50px;
  height: 50px;
  x: -25px;
  y: -25px;
}

svg .node:hover image {
  width: 70px;
  height: 70px;
  x: -35px;
  y: -35px;
}

svg .node:hover .label,
svg .node:hover .label-container {
  display: block;
  opacity: 0.8;
}
