html, body.record, body.top {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body.record, body.top {
  background: white url("/assets/images/backgrounds/background_004.png");
  background-size: cover;
  transition: background $transition-duration;
  color: $font-colour;
  font-family: $font-family;
  font-size: 16px;
  margin: 0;
  padding: 0;

  &.night-mode {
    background: black url("/assets/images/backgrounds/inverted/background_004.png");
    background-size: cover;
  }
}

body.static {
  #container {
    margin-top: 120px;
  }
}
